JWT_SECRET=tu_llave_secreta
PORT=3000
DB_HOST=localhost
DB_PORT=5432               
DB_USERNAME=postgres
DB_PASSWORD=contraseña_bd
DB_NAME=nombre_de_tu_bd
DB_SCHEMA=public 
PAYPAL_CLIENT_ID=cliente_paypal
PAYPAL_CLIENT_SECRET=secreto_paypal
PAYPAL_MODE=sandbox
FRONTEND_URL=la_ruta_de_tu_front
