JWT_SECRET=tu_llave_secreta
PORT=3000
# Postgres local: DB_SSL=false u omitir. Neon / nube: DB_SSL=true
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=contraseña_bd
DB_NAME=nombre_de_tu_bd
DB_SCHEMA=public
DB_SSL=false
PAYPAL_CLIENT_ID=cliente_paypal
PAYPAL_CLIENT_SECRET=secreto_paypal
PAYPAL_MODE=sandbox
FRONTEND_URL=la_ruta_de_tu_front
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
